<div data-slide-id="{{id}}" data-slide-type="{{type}}" class="topic-slide"> 
	<span class="slide-header-text">{{header}}</span>
	<button class="delete-slide btn btn-xs pull-right">
		<span class="glyphicon glyphicon-trash"></span>
	</button>
	<button class="update-slide btn btn-xs pull-right" data-toggle="modal" data-target="#SLIDE_MODAL">
		<span class="glyphicon glyphicon-pencil"></span>
	</button>
</div>
